.logo{
   width: 80px;
   height: 20px;
   
}
.body{
   max-width: 1400px;
   margin: 0 auto;
   padding: 30px;
   box-sizing: border-box;
}
.wrapper{
   max-width: 1400px;
   margin: 0 auto;
   margin-top: 30px;
}
.form{
   position: relative;
   max-width: 700px;
   background: grey;
}
input{
   width: 600px;
   padding: 10px;
   border-radius: 30px;
   margin-left: 160px;
   margin-top: -25px;
   position: absolute;
}
.img{
   margin-left: 1000px;
   margin-top: -20px;
   position: absolute;
}
.img__name{
   margin-left: 1050px;
   margin-top: -20px;
   position: absolute;
}
.img__neme{
   margin-left: 1100px;
   margin-top: -20px;
   position: absolute;
}
.pic{
   margin-left: 1105px;
   margin-top: -25px;
   position: absolute;
}
.name{
   margin-left: 1110px;
   margin-top: -20px;
   position: absolute;
}
.neme{
   margin-left: 1200px;
   margin-top: -30px;
   position: absolute;
}
.wrapper__list{
   margin-left: -30px;
   list-style: none;
   gap: 50px;
}
.wrapper__link{
   color: #898989;
   text-decoration: none;
   gap: 50px;
}
.picture{
   gap: 50px;
}
.wrapper__link:hover{
   color: red;
}